# Создание столбцов на ходу

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'dicts': [{'Лена': 1, 'Ваня': 2}, {'Ваня': 3, 'Леша': 5}, {'Настя': 3}]})
df

                    dicts
0  {'Лена': 1, 'Ваня': 2}
1  {'Ваня': 3, 'Леша': 5}
2            {'Настя': 3}

In [4]:
def departments(row):
    if 'Ваня' in row['dicts']:
        row['разработка'] = row['dicts']['Ваня']
    
    if 'Настя' in row['dicts']:
        row['финансы'] = row['dicts']['Настя']
    
    return row

In [5]:
df = df.apply(departments, axis=1)
df

                    dicts  разработка  финансы
0  {'Лена': 1, 'Ваня': 2}         2.0      NaN
1  {'Ваня': 3, 'Леша': 5}         3.0      NaN
2            {'Настя': 3}         NaN      3.0

In [6]:
def new_columns(row):
    for name, value in row['dicts'].items():
        row[name] = value
    
    return row

In [7]:
df = df.apply(new_columns, axis=1)
df

                    dicts  Ваня  Лена  Леша  Настя  разработка  финансы
0  {'Лена': 1, 'Ваня': 2}   2.0   1.0   NaN    NaN         2.0      NaN
1  {'Ваня': 3, 'Леша': 5}   3.0   NaN   5.0    NaN         3.0      NaN
2            {'Настя': 3}   NaN   NaN   NaN    3.0         NaN      3.0

## Test Driven Development

In [13]:
phrase = 'МРТ на Менделеевской от 2000'

In [14]:
def word_count(phrase):
    return len(phrase.split(' '))
word_count(phrase)

5

In [6]:
# но если фраза - пустая строка - то вернет 1, а это не гуд
word_count('')

1

In [8]:
# поэтому делаем проверку
def word_count(phrase):
    if phrase:
        return len(phrase.split(' '))
    else:
        return 0
word_count('')

0

In [20]:
# но потом вдруг еще понадобится, чтобы функция работала и с другими разделителями

def word_count(phrase, x=' '):
    if phrase:
        return len(phrase.split(x))
    else:
        return 0

In [22]:
# и вроде тоже все работает, но мало ли (разделители ведь разные могут быть, а мы проверили только несколько)
# поэтому возникает необходимость функцию протестировать
# первый и самый простой способ - использовать оператор assert

assert word_count('МРТ на Менделеевской от 2000') == 5
assert word_count('') == 0
assert word_count('123', x=';') == 1

In [23]:
word_count('123', x=';')

1

In [ ]:
# unittest - библиотека для написания тестов, но она устаревшая
# pytest - эта библиотека более новая и продвинутая, лучше использовать ее