<div style="text-align: center"> <H2> Домашнее задание №13, к лекции "Продвинутый pandas" </H2></div>
<div style='text-align: center'> <H4> по курсу PYDA-15 - Python для анализа данных </H4></div>
</div>
<p>
<div style="text-align: right"> Выполнил: студент группы PAL-4 Константин Лемешок </div>

---

In [1]:
import pandas as pd

#### Задание 1
<div class="alert alert-block alert-success">

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

    если источник traffic_source равен yandex или google, то в source_type ставится organic
    для источников paid и email из России - ставим ad
    для источников paid и email не из России - ставим other
    все остальные варианты берем из traffic_source без изменений

</div>

---

In [2]:
log = pd.read_csv('visit_log.csv', sep=';')

In [3]:
def source_type(row):
    """Функция возвращает тип трафика в зависимости от его источника"""
    if row['traffic_source'] in ['yandex', 'google']:
        return 'organic'
    elif row['traffic_source'] in ['paid', 'email'] and row['region'] == 'Russia':
        return 'ad'
    elif row['traffic_source'] in ['paid', 'email'] and row['region'] != 'Russia':
        return 'other'
    else:
        return row['traffic_source']

In [4]:
log['source_type'] = log.apply(source_type, axis=1)

In [5]:
log.loc[12:16]

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic

---

#### Задание 2
<div class="alert alert-block alert-success">

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

    Прочитайте содержимое файла с датафрейм
    Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

</div>

---

In [6]:
df = pd.read_csv('URLs.txt')
fulltextnews = df[df.url.str.contains('/\d{8}-')]
fulltextnews.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

---

#### Задание 3
<div class="alert alert-block alert-success">
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

</div>

---

In [7]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [8]:
from pymystem3 import Mystem
m = Mystem()

def lemmatize(keyword):
    """Функция вычисляет леммы из поискового запроса"""
    lemma = m.lemmatize(keyword)
    return ''.join(lemma).replace('\n','')

In [9]:
%%time

data['lemmas'] = data.keyword.apply(lemmatize)
data

Wall time: 5.94 s

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль

---