<div style="text-align: center"> <H2> Домашнее задание №13.2, к лекции "Продвинутый pandas 2" </H2></div>
<div style='text-align: center'> <H4> по курсу PYDA-15 - Python для анализа данных </H4></div>
</div>
<p>
<div style="text-align: right"> Выполнил: студент группы PAL-4 Константин Лемешок </div>

---

In [1]:
import pandas as pd

#### Задание 1
<div class="alert alert-block alert-success">

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

</div>

---

In [2]:
ratings = pd.read_csv('ml-latest-small\\ratings.csv')

# добавляем в исходный датафрейм колонку со временем
ratings['time'] = pd.to_datetime(ratings['timestamp'], unit='s')

# создаем пустой "итоговый" датафрейм, задавая его структуру
users_100plus_lifetime = pd.DataFrame({'userId': [], 'lifetime': []})

# добавляем в итоговый датафрейм userId пользователей, поставивших больше 100 оценок, и время жизни каждого
for i in range(ratings.userId.nunique()):
    if len(ratings[ratings.userId == i+1]) > 100:
        user_100plus = ratings.loc[ratings.userId == i+1, ['userId', 'time']]
        lifetime = user_100plus.time.max() - user_100plus.time.min()
        users_100plus_lifetime = pd.concat([users_100plus_lifetime, pd.DataFrame({'userId': [i+1], 'lifetime': [lifetime]})])

users_100plus_lifetime.head(10)

   userId           lifetime
0     4.0    2 days 08:32:40
0     8.0    0 days 23:39:47
0    15.0 5455 days 22:38:16
0    17.0    0 days 02:14:13
0    19.0    0 days 01:28:02
0    21.0   15 days 19:17:12
0    22.0    1 days 01:24:51
0    23.0  212 days 07:02:09
0    26.0  234 days 13:47:41
0    30.0 1340 days 21:11:16

In [3]:
# посчитаем среднее время жизни каждого пользователя, поставившего более 100 оценок:
mean_lifetime = users_100plus_lifetime.lifetime.mean()
mean_lifetime

Timedelta('463 days 21:28:27.449612384')

In [4]:
# выведем результаты на экран
print(f'Средрее время жизни пользователей, поставивших более 100 оценок, составляет {mean_lifetime.days} дней, {mean_lifetime.seconds // 3600} часов, {((mean_lifetime.seconds - (mean_lifetime.seconds // 3660)*3600 ) // 60)} минут.')

Средрее время жизни пользователей, поставивших более 100 оценок, составляет 463 дней, 21 часов, 28 минут.

---

#### Задание 2
<div class="alert alert-block alert-success">

Дана статистика услуг перевозок клиентов компании по типам:
    
    rzd - железнодорожные перевозки
    auto - автомобильные перевозки
    air - воздушные перевозки
    client_base - адреса клиентов
    
Необходимо сформировать две таблицы:
    
    таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
    аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

</div>

---

In [5]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

In [6]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [7]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [8]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [9]:
# таблица с тремя типами выручки для каждого client_id без указания адреса клиента

all_revenue = rzd.merge(auto, on='client_id', how='outer').merge(air, on='client_id', how='outer').fillna(0)
all_revenue

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [10]:
# таблица по типам выручки с указанием адреса клиента

client_base_revenue = client_base.merge(rzd, on='client_id', how='outer').merge(auto, on='client_id', how='outer').merge(air, on='client_id', how='outer').fillna(0)
client_base_revenue

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           0.0          0.0
1        112   Энтузиастов 8а       2810.0           0.0          0.0
2        113  Левобережная 1а      10283.0       57483.0          0.0
3        114          Мира 14       5774.0          83.0          0.0
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          0.0        4834.0          4.0
6        117  Панфиловская 33          0.0          98.0         13.0
7        118     Мастеркова 4          0.0           0.0        173.0

---

#### Задание 3
<div class="alert alert-block alert-success">
В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок? Для составления ответа можно использовать вопросы:

</div>

---

**1. У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?**

Для корректного связывания таблицы с визитами/покупками и таблицы с координатами нам потребуется еще один связующий элемент, кроме userId. Например такой связкой может быть пара:
* время фиксации координаты (для таблицы с координатами),
* время визита/покупки пользователя (для таблицы с визитами/покупками).

Если хотя бы одна из таблиц такого связующего элемента не содержит (например, таблица с визитами/покупками имеет совсем простую структуру типа pd.DataFrame({'userId': [1, 2, 3, ], 'visits': [10, 12, 23], 'deals': [0, 1, 3]}), то сделать связку между таблицами не получится совсем.

PS: Непонятно, что имеется в виду под "полноценной работой приложения". Если речь идет о том, что приложение работает полноценно, когда пользователь в него заходит, значит, любое считывание координат связано с визитом. Или нет?

**2. Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?**

Думаю, что никак не отразится. Может пользователь путешествовать любит, если он даже из путешествий заходит в наше приложение и даже покупает, то и на здоровье, и спасибо ему.

PS: Утверждение выше основывается на допущении, что gps-координаты считываются корректно всегда.

**3. Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.**

Если говорить в общем, то из географической координаты можно получить дополнительные данные о локации (страна, город, улица...).

А дальше все зависит от того, как часто приложение считывает координаты. Если координаты считываются только во время использования приложения, и таких использований на каждого пользователя не особо много, то ничего дополнительно и не получишь.

А если координаты считываются в фоновом режиме, то можно узнать:
- место жительства пользователя (место, где он проводит большинство ночей в году)
- место работы пользователя (место, где он проводит бОльшую часть рабочего времени)
- предпочтения пользователя (где отдыхает, с кем из других пользователй приложения общается...)

**Константин, пришлите, пожалуйста, ответы на эти вопросы или обозначьте направления для размышлений, которые Вы ожидали увидеть. Сейчас есть ощущение, что вопросы немного размыты, и местами приходится угадывать, что именно имеется в виду. И строить свои ответы на основании этих догадок. А хочется знать точно :) Спасибо!**

---