In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv('keywords.csv')
stats.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [15]:
    stats[stats.keyword.str.contains('охотник|партизан')].head(10)

                                    keyword  shows
3072            сумеречные охотники 2 сезон  71965
3474                    сумеречные охотники  66083
3654      белоснежка и охотник 2 фильм 2016  63154
4178             последний охотник на ведьм  57560
4330                   белорусский партизан  57181
6127  последний охотник на ведьм фильм 2015  42213
7136                   белоснежка и охотник  37435
7408               охотники за привидениями  35714
8980    охотники за привидениями фильм 2016  30434
9110             сумеречные охотники сериал  32418

In [22]:
serial = stats[stats.keyword.str.contains('сериалы')]
serial.head()

                               keyword   shows
246                            сериалы  587779
304                        сериалы тут  503967
555  турецкие сериалы на русском языке  296403
881                    русские сериалы  234262
890                     сериалы онлайн  204812

In [34]:
serial.keyword = serial.keyword.str.replace('сериалы', 'книги')

In [41]:
serial.keyword.str.lower().head()

246                              книги
304                          книги тут
555    турецкие книги на русском языке
881                      русские книги
890                       книги онлайн
Name: keyword, dtype: object