# Перевод формата %y в год

In [2]:
from datetime import datetime

In [3]:
date = '27.10.20'

In [5]:
datetime.strptime(date, '%d.%m.%y')

datetime.datetime(2020, 10, 27, 0, 0)

In [6]:
datetime.strptime('31.12.68', '%d.%m.%y')

datetime.datetime(2068, 12, 31, 0, 0)

In [8]:
datetime.strptime('01.01.69', '%d.%m.%y')

datetime.datetime(1969, 1, 1, 0, 0)

In [ ]:
relativedate

In [11]:
dt = datetime.strptime('24.06.45', '%d.%m.%y')
dt.replace(year=dt.year-100)

datetime.datetime(1945, 6, 24, 0, 0)

In [12]:
dt.year

2045

# pytz
Выходные/праздничные дни --> weekday()

# Задача про интервалы
Имеется список отсортированных по возрастанию целых чисел data. А также целое число n, которое лежит между минимальным и максимальным значениями из списка data. Вам необходимо определить минимальное ближайшее число к n из списка data.

Пример:
```python
data = [1, 7, 17, 23, 27, 35, 65]
n = 20
```
Ответ: 17

# Бинарный поиск

1000 --> 100
2000 --> 100 + 1 шаг
4000 --> 2 шага + 100

2**N --> N

N --> log2(N)

In [34]:
data = [1, 7, 17, 23, 27, 35, 65]
n = 20

In [15]:
len(data)

7

In [ ]:
7 * 1000

# O(N)

In [18]:
%%time

for i, num in enumerate(data[:-1]):
    # print(i, data[i], data[i+1])
    
    if data[i] <= n < data[i+1]:
        print('Result', data[i])
        break

Result 17
Wall time: 0 ns

# Бонусный вариант

In [24]:
ages = {
    1: 'дети',
    7: 'школьники',
    17: 'студенты',
    23: 'аспиранты',
    27: 'молодые ученые',
    35: 'преподаватели',
    65: 'пенсионеры',
}

data = [1, 7, 17, 23, 27, 35, 65]

classification = {1: 'дети',
 2: 'дети',
 3: 'дети',
 4: 'дети',
 5: 'дети',
 6: 'дети',
 7: 'школьники',
 8: 'школьники',
 9: 'школьники',
 10: 'школьники',
 11: 'школьники',
 ...
}

In [37]:
classification = {}

for age in range(101):
    if age >= 65:
        classification[age] = 'пенсионеры'
    
    for i, num in enumerate(data[:-1]):
#         print(data[i], data[i+1])

        if data[i] <= age < data[i+1]:
            classification[age] = ages[data[i]]
            break
            
classification

{1: 'дети',
 2: 'дети',
 3: 'дети',
 4: 'дети',
 5: 'дети',
 6: 'дети',
 7: 'школьники',
 8: 'школьники',
 9: 'школьники',
 10: 'школьники',
 11: 'школьники',
 12: 'школьники',
 13: 'школьники',
 14: 'школьники',
 15: 'школьники',
 16: 'школьники',
 17: 'студенты',
 18: 'студенты',
 19: 'студенты',
 20: 'студенты',
 21: 'студенты',
 22: 'студенты',
 23: 'аспиранты',
 24: 'аспиранты',
 25: 'аспиранты',
 26: 'аспиранты',
 27: 'молодые ученые',
 28: 'молодые ученые',
 29: 'молодые ученые',
 30: 'молодые ученые',
 31: 'молодые ученые',
 32: 'молодые ученые',
 33: 'молодые ученые',
 34: 'молодые ученые',
 35: 'преподаватели',
 36: 'преподаватели',
 37: 'преподаватели',
 38: 'преподаватели',
 39: 'преподаватели',
 40: 'преподаватели',
 41: 'преподаватели',
 42: 'преподаватели',
 43: 'преподаватели',
 44: 'преподаватели',
 45: 'преподаватели',
 46: 'преподаватели',
 47: 'преподаватели',
 48: 'преподаватели',
 49: 'преподаватели',
 50: 'преподаватели',
 51: 'преподаватели',
 52: 'преподаватели',
 53: 'преподаватели',
 54: 'преподаватели',
 55: 'преподаватели',
 56: 'преподаватели',
 57: 'преподаватели',
 58: 'преподаватели',
 59: 'преподаватели',
 60: 'преподаватели',
 61: 'преподаватели',
 62: 'преподаватели',
 63: 'преподаватели',
 64: 'преподаватели',
 65: 'пенсионеры',
 66: 'пенсионеры',
 67: 'пенсионеры',
 68: 'пенсионеры',
 69: 'пенсионеры',
 70: 'пенсионеры',
 71: 'пенсионеры',
 72: 'пенсионеры',
 73: 'пенсионеры',
 74: 'пенсионеры',
 75: 'пенсионеры',
 76: 'пенсионеры',
 77: 'пенсионеры',
 78: 'пенсионеры',
 79: 'пенсионеры',
 80: 'пенсионеры',
 81: 'пенсионеры',
 82: 'пенсионеры',
 83: 'пенсионеры',
 84: 'пенсионеры',
 85: 'пенсионеры',
 86: 'пенсионеры',
 87: 'пенсионеры',
 88: 'пенсионеры',
 89: 'пенсионеры',
 90: 'пенсионеры',
 91: 'пенсионеры',
 92: 'пенсионеры',
 93: 'пенсионеры',
 94: 'пенсионеры',
 95: 'пенсионеры',
 96: 'пенсионеры',
 97: 'пенсионеры',
 98: 'пенсионеры',
 99: 'пенсионеры',
 100: 'пенсионеры'}

In [38]:
for age in [2, 35, 65, 87, 5, 48]:
    print(age, classification[age])

2 дети
35 преподаватели
65 пенсионеры
87 пенсионеры
5 дети
48 преподаватели

# Циклы и continue

In [52]:
for i in range(10):
    print('Сейчас шаг', i)
    
    if i > 5:
        print('Пропускаю выводы шага', i)
        continue
    
    print('Выводы шага', i)

Сейчас шаг 0
Выводы шага 0
Сейчас шаг 1
Выводы шага 1
Сейчас шаг 2
Выводы шага 2
Сейчас шаг 3
Выводы шага 3
Сейчас шаг 4
Выводы шага 4
Сейчас шаг 5
Выводы шага 5
Сейчас шаг 6
Пропускаю выводы шага 6
Сейчас шаг 7
Пропускаю выводы шага 7
Сейчас шаг 8
Пропускаю выводы шага 8
Сейчас шаг 9
Пропускаю выводы шага 9

In [53]:
def square_root(num):
    result = num**2
    
    print(result)
    return  # return None

In [54]:
res = square_root(2)

4

In [56]:
print(res)

None

In [57]:
def square_root(num):
    result = num**2
    
    print(result)
    return result

In [58]:
res_v2 = square_root(2)

4

In [59]:
res_v2

4

In [61]:
5 * 4 * 3 * 2 * 1

120

In [62]:
def fact(n):
    if n > 1:
        return n * fact(n-1)
    else:
        return 1

In [63]:
fact(5)

120

2 кубика (от 1 до 6)


3 + 4 = 7  --> с какой вероятностью выпадет заданная сумма

In [ ]:
total_tries = 0

for i in range(6):
    for j in range(6):
        sum_ = i + j
        total_tries += 1

6 кубиков??

In [ ]:
for i in range(6):
    func()

# Алгоритм экспоненциальной задержки

In [ ]:
wrong_lines = 0

connection = pymysql.connection(host, db, user, password)

for line in f:
    try:
        # ...
        connection.query('select * from db.table...')
        # обработка
    except:
        print('Кривая строчка')
        wrong_lines += 1
        
        sys.exit()
    finally:
        # всегда
        connection.close()
        
print(wrong_lines)

In [39]:
import requests

In [40]:
def exchange_rates(timeout):
    return requests.get('https://www.cbr-xml-daily.ru/daily_json.js', timeout=timeout).json()

In [48]:
exchange_rates(timeout=0.01)

{'Date': '2020-10-31T11:30:00+03:00',
 'PreviousDate': '2020-10-30T11:30:00+03:00',
 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2020/10/30/daily_json.js',
 'Timestamp': '2020-10-31T19:00:00+03:00',
 'Valute': {'AUD': {'ID': 'R01010',
   'NumCode': '036',
   'CharCode': 'AUD',
   'Nominal': 1,
   'Name': 'Австралийский доллар',
   'Value': 55.7706,
   'Previous': 55.6191},
  'AZN': {'ID': 'R01020A',
   'NumCode': '944',
   'CharCode': 'AZN',
   'Nominal': 1,
   'Name': 'Азербайджанский манат',
   'Value': 46.6935,
   'Previous': 46.4214},
  'GBP': {'ID': 'R01035',
   'NumCode': '826',
   'CharCode': 'GBP',
   'Nominal': 1,
   'Name': 'Фунт стерлингов Соединенного королевства',
   'Value': 102.5449,
   'Previous': 102.4678},
  'AMD': {'ID': 'R01060',
   'NumCode': '051',
   'CharCode': 'AMD',
   'Nominal': 100,
   'Name': 'Армянских драмов',
   'Value': 16.0868,
   'Previous': 16.0077},
  'BYN': {'ID': 'R01090B',
   'NumCode': '933',
   'CharCode': 'BYN',
   'Nominal': 1,
   'Name': 'Белорусский рубль',
   'Value': 30.0946,
   'Previous': 30.0457},
  'BGN': {'ID': 'R01100',
   'NumCode': '975',
   'CharCode': 'BGN',
   'Nominal': 1,
   'Name': 'Болгарский лев',
   'Value': 47.3371,
   'Previous': 47.3153},
  'BRL': {'ID': 'R01115',
   'NumCode': '986',
   'CharCode': 'BRL',
   'Nominal': 1,
   'Name': 'Бразильский реал',
   'Value': 13.7274,
   'Previous': 13.7246},
  'HUF': {'ID': 'R01135',
   'NumCode': '348',
   'CharCode': 'HUF',
   'Nominal': 100,
   'Name': 'Венгерских форинтов',
   'Value': 25.1749,
   'Previous': 25.0779},
  'HKD': {'ID': 'R01200',
   'NumCode': '344',
   'CharCode': 'HKD',
   'Nominal': 1,
   'Name': 'Гонконгский доллар',
   'Value': 10.2329,
   'Previous': 10.1748},
  'DKK': {'ID': 'R01215',
   'NumCode': '208',
   'CharCode': 'DKK',
   'Nominal': 1,
   'Name': 'Датская крона',
   'Value': 12.431,
   'Previous': 12.4252},
  'USD': {'ID': 'R01235',
   'NumCode': '840',
   'CharCode': 'USD',
   'Nominal': 1,
   'Name': 'Доллар США',
   'Value': 79.3323,
   'Previous': 78.8699},
  'EUR': {'ID': 'R01239',
   'NumCode': '978',
   'CharCode': 'EUR',
   'Nominal': 1,
   'Name': 'Евро',
   'Value': 92.6284,
   'Previous': 92.6011},
  'INR': {'ID': 'R01270',
   'NumCode': '356',
   'CharCode': 'INR',
   'Nominal': 10,
   'Name': 'Индийских рупий',
   'Value': 10.6296,
   'Previous': 10.6425},
  'KZT': {'ID': 'R01335',
   'NumCode': '398',
   'CharCode': 'KZT',
   'Nominal': 100,
   'Name': 'Казахстанских тенге',
   'Value': 18.3154,
   'Previous': 18.2276},
  'CAD': {'ID': 'R01350',
   'NumCode': '124',
   'CharCode': 'CAD',
   'Nominal': 1,
   'Name': 'Канадский доллар',
   'Value': 59.532,
   'Previous': 59.2784},
  'KGS': {'ID': 'R01370',
   'NumCode': '417',
   'CharCode': 'KGS',
   'Nominal': 100,
   'Name': 'Киргизских сомов',
   'Value': 97.1067,
   'Previous': 96.5407},
  'CNY': {'ID': 'R01375',
   'NumCode': '156',
   'CharCode': 'CNY',
   'Nominal': 1,
   'Name': 'Китайский юань',
   'Value': 11.8403,
   'Previous': 11.7523},
  'MDL': {'ID': 'R01500',
   'NumCode': '498',
   'CharCode': 'MDL',
   'Nominal': 10,
   'Name': 'Молдавских леев',
   'Value': 46.5292,
   'Previous': 46.258},
  'NOK': {'ID': 'R01535',
   'NumCode': '578',
   'CharCode': 'NOK',
   'Nominal': 10,
   'Name': 'Норвежских крон',
   'Value': 83.0079,
   'Previous': 83.9577},
  'PLN': {'ID': 'R01565',
   'NumCode': '985',
   'CharCode': 'PLN',
   'Nominal': 1,
   'Name': 'Польский злотый',
   'Value': 20.0532,
   'Previous': 19.9752},
  'RON': {'ID': 'R01585F',
   'NumCode': '946',
   'CharCode': 'RON',
   'Nominal': 1,
   'Name': 'Румынский лей',
   'Value': 18.9922,
   'Previous': 18.9778},
  'XDR': {'ID': 'R01589',
   'NumCode': '960',
   'CharCode': 'XDR',
   'Nominal': 1,
   'Name': 'СДР (специальные права заимствования)',
   'Value': 112.0164,
   'Previous': 111.4582},
  'SGD': {'ID': 'R01625',
   'NumCode': '702',
   'CharCode': 'SGD',
   'Nominal': 1,
   'Name': 'Сингапурский доллар',
   'Value': 58.0849,
   'Previous': 57.8437},
  'TJS': {'ID': 'R01670',
   'NumCode': '972',
   'CharCode': 'TJS',
   'Nominal': 10,
   'Name': 'Таджикских сомони',
   'Value': 76.6866,
   'Previous': 76.3134},
  'TRY': {'ID': 'R01700J',
   'NumCode': '949',
   'CharCode': 'TRY',
   'Nominal': 10,
   'Name': 'Турецких лир',
   'Value': 95.254,
   'Previous': 94.9988},
  'TMT': {'ID': 'R01710A',
   'NumCode': '934',
   'CharCode': 'TMT',
   'Nominal': 1,
   'Name': 'Новый туркменский манат',
   'Value': 22.6988,
   'Previous': 22.5665},
  'UZS': {'ID': 'R01717',
   'NumCode': '860',
   'CharCode': 'UZS',
   'Nominal': 10000,
   'Name': 'Узбекских сумов',
   'Value': 76.5682,
   'Previous': 76.1219},
  'UAH': {'ID': 'R01720',
   'NumCode': '980',
   'CharCode': 'UAH',
   'Nominal': 10,
   'Name': 'Украинских гривен',
   'Value': 27.8971,
   'Previous': 27.7437},
  'CZK': {'ID': 'R01760',
   'NumCode': '203',
   'CharCode': 'CZK',
   'Nominal': 10,
   'Name': 'Чешских крон',
   'Value': 33.8803,
   'Previous': 33.7217},
  'SEK': {'ID': 'R01770',
   'NumCode': '752',
   'CharCode': 'SEK',
   'Nominal': 10,
   'Name': 'Шведских крон',
   'Value': 88.9904,
   'Previous': 89.0109},
  'CHF': {'ID': 'R01775',
   'NumCode': '756',
   'CharCode': 'CHF',
   'Nominal': 1,
   'Name': 'Швейцарский франк',
   'Value': 86.5884,
   'Previous': 86.5656},
  'ZAR': {'ID': 'R01810',
   'NumCode': '710',
   'CharCode': 'ZAR',
   'Nominal': 10,
   'Name': 'Южноафриканских рэндов',
   'Value': 48.5905,
   'Previous': 48.065},
  'KRW': {'ID': 'R01815',
   'NumCode': '410',
   'CharCode': 'KRW',
   'Nominal': 1000,
   'Name': 'Вон Республики Корея',
   'Value': 69.8695,
   'Previous': 69.6017},
  'JPY': {'ID': 'R01820',
   'NumCode': '392',
   'CharCode': 'JPY',
   'Nominal': 100,
   'Name': 'Японских иен',
   'Value': 76.0361,
   'Previous': 75.6364}}}

In [45]:
import time
time.sleep(5)

In [49]:
import time

N_RETRIES = 5

rates = None
for i in range(N_RETRIES):
    try:
        if i >= 2:
            rates = exchange_rates(timeout=10)
        else:
            rates = exchange_rates(timeout=0.001)
    except requests.Timeout as e:
        print(f'Серверу тяжело. Жду {2**i} секунд')
        time.sleep(2**i)
        
if rates:
    print(rates)
else:
    raise ValueError('Все плохо, иди чини')

Серверу тяжело. Жду 1 секунд
Серверу тяжело. Жду 2 секунд
{'Date': '2020-10-28T11:30:00+03:00', 'PreviousDate': '2020-10-27T11:30:00+03:00', 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2020/10/27/daily_json.js', 'Timestamp': '2020-10-27T20:00:00+03:00', 'Valute': {'AUD': {'ID': 'R01010', 'NumCode': '036', 'CharCode': 'AUD', 'Nominal': 1, 'Name': 'Австралийский доллар', 'Value': 54.4746, 'Previous': 54.3978}, 'AZN': {'ID': 'R01020A', 'NumCode': '944', 'CharCode': 'AZN', 'Nominal': 1, 'Name': 'Азербайджанский манат', 'Value': 45.0004, 'Previous': 44.9937}, 'GBP': {'ID': 'R01035', 'NumCode': '826', 'CharCode': 'GBP', 'Nominal': 1, 'Name': 'Фунт стерлингов Соединенного королевства', 'Value': 99.4458, 'Previous': 99.5228}, 'AMD': {'ID': 'R01060', 'NumCode': '051', 'CharCode': 'AMD', 'Nominal': 100, 'Name': 'Армянских драмов', 'Value': 15.5007, 'Previous': 15.4746}, 'BYN': {'ID': 'R01090B', 'NumCode': '933', 'CharCode': 'BYN', 'Nominal': 1, 'Name': 'Белорусский рубль', 'Value': 29.9239, 'Previous': 30.0903}, 'BGN': {'ID': 'R01100', 'NumCode': '975', 'CharCode': 'BGN', 'Nominal': 1, 'Name': 'Болгарский лев', 'Value': 46.1382, 'Previous': 46.1983}, 'BRL': {'ID': 'R01115', 'NumCode': '986', 'CharCode': 'BRL', 'Nominal': 1, 'Name': 'Бразильский реал', 'Value': 13.5938, 'Previous': 13.6036}, 'HUF': {'ID': 'R01135', 'NumCode': '348', 'CharCode': 'HUF', 'Nominal': 100, 'Name': 'Венгерских форинтов', 'Value': 24.7165, 'Previous': 24.7125}, 'HKD': {'ID': 'R01200', 'NumCode': '344', 'CharCode': 'HKD', 'Nominal': 10, 'Name': 'Гонконгских долларов', 'Value': 98.6511, 'Previous': 98.6365}, 'DKK': {'ID': 'R01215', 'NumCode': '208', 'CharCode': 'DKK', 'Nominal': 1, 'Name': 'Датская крона', 'Value': 12.1293, 'Previous': 12.1423}, 'USD': {'ID': 'R01235', 'NumCode': '840', 'CharCode': 'USD', 'Nominal': 1, 'Name': 'Доллар США', 'Value': 76.4556, 'Previous': 76.4443}, 'EUR': {'ID': 'R01239', 'NumCode': '978', 'CharCode': 'EUR', 'Nominal': 1, 'Name': 'Евро', 'Value': 90.3552, 'Previous': 90.4489}, 'INR': {'ID': 'R01270', 'NumCode': '356', 'CharCode': 'INR', 'Nominal': 10, 'Name': 'Индийских рупий', 'Value': 10.3683, 'Previous': 10.349}, 'KZT': {'ID': 'R01335', 'NumCode': '398', 'CharCode': 'KZT', 'Nominal': 100, 'Name': 'Казахстанских тенге', 'Value': 17.787, 'Previous': 17.7844}, 'CAD': {'ID': 'R01350', 'NumCode': '124', 'CharCode': 'CAD', 'Nominal': 1, 'Name': 'Канадский доллар', 'Value': 57.9385, 'Previous': 57.987}, 'KGS': {'ID': 'R01370', 'NumCode': '417', 'CharCode': 'KGS', 'Nominal': 100, 'Name': 'Киргизских сомов', 'Value': 94.7833, 'Previous': 94.7768}, 'CNY': {'ID': 'R01375', 'NumCode': '156', 'CharCode': 'CNY', 'Nominal': 1, 'Name': 'Китайский юань', 'Value': 11.3841, 'Previous': 11.411}, 'MDL': {'ID': 'R01500', 'NumCode': '498', 'CharCode': 'MDL', 'Nominal': 10, 'Name': 'Молдавских леев', 'Value': 44.842, 'Previous': 44.8354}, 'NOK': {'ID': 'R01535', 'NumCode': '578', 'CharCode': 'NOK', 'Nominal': 10, 'Name': 'Норвежских крон', 'Value': 82.7782, 'Previous': 82.1196}, 'PLN': {'ID': 'R01565', 'NumCode': '985', 'CharCode': 'PLN', 'Nominal': 1, 'Name': 'Польский злотый', 'Value': 19.6767, 'Previous': 19.7638}, 'RON': {'ID': 'R01585F', 'NumCode': '946', 'CharCode': 'RON', 'Nominal': 1, 'Name': 'Румынский лей', 'Value': 18.5118, 'Previous': 18.5432}, 'XDR': {'ID': 'R01589', 'NumCode': '960', 'CharCode': 'XDR', 'Nominal': 1, 'Name': 'СДР (специальные права заимствования)', 'Value': 108.3552, 'Previous': 108.5211}, 'SGD': {'ID': 'R01625', 'NumCode': '702', 'CharCode': 'SGD', 'Nominal': 1, 'Name': 'Сингапурский доллар', 'Value': 56.2091, 'Previous': 56.1966}, 'TJS': {'ID': 'R01670', 'NumCode': '972', 'CharCode': 'TJS', 'Nominal': 10, 'Name': 'Таджикских сомони', 'Value': 73.9774, 'Previous': 73.9664}, 'TRY': {'ID': 'R01700J', 'NumCode': '949', 'CharCode': 'TRY', 'Nominal': 10, 'Name': 'Турецких лир', 'Value': 93.8152, 'Previous': 94.8123}, 'TMT': {'ID': 'R01710A', 'NumCode': '934', 'CharCode': 'TMT', 'Nominal': 1, 'Name': 'Новый туркменский манат', 'Value': 21.8757, 'Previous': 21.8725}, 'UZS': {'ID': 'R01717', 'NumCode': '860', 'CharCode': 'UZS', 'Nominal': 10000, 'Name': 'Узбекских сумов', 'Value': 73.7917, 'Previous': 73.7808}, 'UAH': {'ID': 'R01720', 'NumCode': '980', 'CharCode': 'UAH', 'Nominal': 10, 'Name': 'Украинских гривен', 'Value': 26.959, 'Previous': 26.9859}, 'CZK': {'ID': 'R01760', 'NumCode': '203', 'CharCode': 'CZK', 'Nominal': 10, 'Name': 'Чешских крон', 'Value': 32.9792, 'Previous': 33.1229}, 'SEK': {'ID': 'R01770', 'NumCode': '752', 'CharCode': 'SEK', 'Nominal': 10, 'Name': 'Шведских крон', 'Value': 87.302, 'Previous': 87.0733}, 'CHF': {'ID': 'R01775', 'NumCode': '756', 'CharCode': 'CHF', 'Nominal': 1, 'Name': 'Швейцарский франк', 'Value': 84.1929, 'Previous': 84.3384}, 'ZAR': {'ID': 'R01810', 'NumCode': '710', 'CharCode': 'ZAR', 'Nominal': 10, 'Name': 'Южноафриканских рэндов', 'Value': 47.1427, 'Previous': 46.8323}, 'KRW': {'ID': 'R01815', 'NumCode': '410', 'CharCode': 'KRW', 'Nominal': 1000, 'Name': 'Вон Республики Корея', 'Value': 67.8135, 'Previous': 67.6726}, 'JPY': {'ID': 'R01820', 'NumCode': '392', 'CharCode': 'JPY', 'Nominal': 100, 'Name': 'Японских иен', 'Value': 72.9747, 'Previous': 72.8839}}}

# Обработка ошибок
1. Текст ошибки указывается в последней строчке
2. Все что перед ней - место, где ошибка произошла
3. Есть встроенные типы ошибок, но можно создавать и свои

Некоторые типы ошибок из документации (точнее [перевода](https://pythonworld.ru/tipy-dannyx-v-python/isklyucheniya-v-python-konstrukciya-try-except-dlya-obrabotki-isklyuchenij.html)):
- ZeroDivisionError - деление на ноль
- ImportError - не удалось импортирование модуля или его атрибута (надо установить эту библиотеку)
- IndexError - индекс не входит в диапазон элементов.
- KeyError - несуществующий ключ (в словаре, множестве или другом объекте)
- MemoryError - недостаточно памяти
- SyntaxError - синтаксическая ошибка (вы опечатались или не закрыли скобку)
- TypeError - операция применена к объекту несоответствующего типа
- ValueError - функция получает аргумент правильного типа, но некорректного значения
- Warning - предупреждение (текст на красном фоне в юпитере это предупреждение, а не ошибка)

In [ ]:
# эту строку можно перевести в число
some_num = '123'

In [ ]:
float(some_num)

In [ ]:
# а эту уже нет (по крайней мере в десятичном счислении)
ups = '123a'

In [ ]:
# ValueError - тип ошибки, далее пояснение что произошло
# ----> 1 float(ups) - в каком месте кода произошла ошибка
float(ups)

Пример ошибки внутри функции

In [ ]:
def square_sum(*args):
    total_sum = 0
    for arg in args:
        total_sum += arg**2
    
    return total_sum

In [ ]:
square_sum(1, 2, 3)

In [ ]:
# пытаемся применить к операцию возведения в квадрат к строке
# ----> 1 square_sum(1, 2, '3') - в какой функции произошла ошибка
# ----> 4         total_sum += arg**2 - в какой именно строке произошла ошибка

square_sum(1, 2, '3')

## Как сделать, чтобы цикл с расчетом не падал каждый раз

In [ ]:
try:
    # ваш код, где может произойти ошибка
    float('123a')

except:
    # код, который выполняется в случае ошибки

In [ ]:
data = ['90', '60', '90', '240tot']
total_sum = 0

for num in data:
    try:
        total_sum += float(num)

    except:
        print('Ошибка в данных: {}'.format(num))
    
print('Итого', total_sum)

Как сохранить всю информацию об ошибке?

In [ ]:
# полная версия traceback
import traceback

try:
    float('123fff')

except Exception:
    print(traceback.print_exc())
    
print('Проехали')

### Блок finally

In [ ]:
try:
    print(stats["wednesday"])
    
except IndexError:
    print("Ошибка индекса")
    
except KeyError:
    print("Ошибка ключа")
    print(1/0)
    
finally:
    print('Эта строчка будет выполнена всегда')

### Более жизненный пример

In [ ]:
with open('real_data.txt', 'r') as f:
    for line in f:
        print(line.strip())

Чем прекрасен этот файл:
1. Даты имеют разный формат: за 8 и 9 октября формат с "09.10.2016 21:40" сменился на "09.10.2016T 21:40:00" (добавилась буква T и секунды). Разработчики объяснили этот тем, что сбились настройки после обновления одной из баз данных.
2. У покупок некоторых пользователей неизвестно значение выручки, из-за чего количество столбцов в строке уменьшается на один.
3. У некоторых строк реальная сумма покупки умножена на миллион. Так иногда действительно делают, чтобы избежать дробных чисел и работать только с целыми.

Необходимо посчитать сумму выручки из третьего столбца.

# Даты

In [ ]:
# иногда импортируют так
import datetime

In [ ]:
# можно и так
import datetime as dt

In [ ]:
# у нас будет вариант покороче (но это не одно и то же)
from datetime import datetime

In [ ]:
date_string = '09.05.2018  09:00'

In [ ]:
# сейчас date_string это просто строка
type(date_string)

In [ ]:
datetime.strptime('09.05.2018 09:00', '%d.%m.%Y %H:%M')

In [ ]:
# https://docs.python.org/3/library/datetime.html

date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

In [ ]:
# теперь можем работать с датами
type(date_datetime)

In [ ]:
# получить номер года и часа
date_datetime.year, date_datetime.hour

In [ ]:
# день недели
date_datetime.weekday()

In [ ]:
# сегодня
datetime.now()

### Упражнение
С помощью метода datetime.strptime переведите строку 'May 25 2017 5:00AM' в формат datetime.

### Прибавление интервала к датам

In [ ]:
from datetime import timedelta

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
type(start_date)

In [ ]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime

In [ ]:
start_date_datetime + timedelta(days=1)

In [ ]:
start_date_datetime + timedelta(days=-7, minutes=-1)

### Перевод обратно в строку

In [ ]:
date = datetime(2018, 9, 1)
date

In [ ]:
date.strftime('%Y-%m-%d')

In [ ]:
date.strftime('%B %d %Y %I:%M%p')

In [ ]:
datetime.now().strftime('%Y-%m-01')

In [ ]:
# как получить первый день месяца

date.strftime('%Y-%m-01')

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
start_date, end_date

In [ ]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)

In [ ]:
i = 0

while i < 10:
    # ...
    i += 1
    print(i)

In [ ]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

In [ ]:
current_dt = start_date_dt

while current_dt.strftime('%Y-%m-%d') <= end_date:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

In [ ]:
# можно и с помощью list comprehension
[(start_date_dt + timedelta(days=x)).strftime('%Y-%m-%d') for x in range(10)]

### Нагрузка на систему по часам

In [ ]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        
        break
        
        # вычисления нагрузки на систему...
        
# результат
stats

In [ ]:
# а в процентном соотношении?

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [ ]:
import time
from datetime import date
from datetime import datetime

In [ ]:
d = date(2019, 3, 11)

unixtime = time.mktime(d.timetuple())
unixtime

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(1552251600)

На практике все сложнее https://habr.com/ru/post/452584/

# Задача про интервалы
Имеется список отсортированных по возрастанию целых чисел data. А также целое число n, которое лежит между минимальным и максимальным значениями из списка data. Вам необходимо определить минимальное ближайшее число к n из списка data.

Пример:
```python
data = [1, 7, 17, 23, 27, 35, 65]
n = 20
```

Ответ: 17

Подобные алгоритмы используются для классификации объекта по значению одной метрики. Например, это может пригодиться для классификации учащегося по его возрасту:
```python
ages = {
    1: 'дети',
    7: 'школьники',
    17: 'студенты',
    23: 'аспиранты',
    27: 'молодые ученые',
    35: 'преподаватели',
    65: 'пенсионеры',
}
```

Итого напишите функцию, которая по списку data и числу n возвращает минимальное ближайшее к n число. Список может быть любым, поэтому не рассчитывайте на написание цепочки условий через if.

Бонусные варианты:
1. Рассмотрите ситуацию, в которой при фиксированном списке data вам необходимо классифицировать большое количество пользователей с разными значениями n. Например, вам необходимо классифицировать базу из 100 миллионов человек по возрастам по словарю ages из примера выше. Можно ли в таком случае ускорить проход по такому числу пользователей?

2. Если вы решали основное задание перебором элементов списка data и сравнением с n, то сложность такого алгоритма O(N). Т. е. при увеличении числа элементов списка data в N раз время работы алгоритма тоже вырастет в N раз. Попробуйте ускорить этот алгоритм. Например, с помощью аналога бинарного поиска.